/* override this file for custom css */

/* you can import bootstrap mixins */
// @import 'bootstrap/scss/mixins';
// Example usage
// .some-class {
//   @include media-breakpoint-up(sm) {
//     // Larger than sm: 576px
//     display: inline;
//   }
//   @include media-breakpoint-down(md) {
//     // Smaller than md: 768px
//     display: block;
//   }
// }

 table.text-size-md {
    border-collapse: collapse;  /* neat lines */
    width: auto;
  }
  table.text-size-md 
  {
    border-collapse: collapse;  /* neat lines */
    width: auto;
    border: 1px solid #ccc;

  }
  td {
    // border: 1px solid #ccc;
    padding: 2px 6px;           /* smaller vertical padding */
    line-height: 1;             /* reduce row height */
    white-space: nowrap;
    font-size: 14px;
  }

 .text-size-md {
    font-size: 20x; /* or any other size you prefer */
    }

  .text-size-sm {
      font-size: 18px; /* or any other size you prefer */
    }


body {
  font-size: x-large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}



.container-fluid.home {
  padding-top: 100px;  // pushes content below the fixed navbar

}

.home img {
    width: 200px;
    height: 200px;
    padding: 0px;
    margin-bottom: 10px;
}


.author-image-bordered {
  object-fit: fill;  /* crop nicely if not square */
  border-radius: 50%;
}
 